.pokemoncard {
    display: inline-block;
    width: 8em;
    background-color: lightcoral;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.pokemoncard-title {
    color: red;
    font-weight: bold;
}

.pokemoncard-data {
    font-size: 80%;
}